<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.supermarket.shop.mapper.TShopMapper">

<select id="selectSrmAndTypeInfoPage" resultType="com.example.demo.supermarket.shop.entity.TShop">

	SELECT
		ts.`code`,
		ts.create_date,
		ts.create_id,
		ts.create_name,
		ts.id,
		ts.srm_id,ts.type_id,
		ts.`name`,
		ts.unit,
		si. NAME AS srmName,
		st. NAME AS typeName
	FROM
		t_shop ts
	LEFT JOIN t_srm_info si ON si.id = ts.srm_id
	LEFT JOIN t_shop_type st ON st.id = ts.type_id
 	 ${ew.customSqlSegment}

</select>

</mapper>
